@inherits LayoutComponentBase
@inject HabitWorkbench.Data.AppDb Db

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="/about" class="nav-link">About</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <AppFooter />
    </main>
</div>


